section.acceuil {
  padding: 7rem 7.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    -45deg,
    rgb(132, 44, 182, 0.85),
    rgb(186, 8, 208, 0.85),
    rgb(250, 110, 51, 0.85),
    rgb(223, 145, 62, 0.85),
    rgb(255, 190, 70, 0.85)
  );
}

.acceuil_img,
.acceuil_icons,
.acceuil_text {
  padding: 1rem;
}

.acceuil_icons {
  width: 25%;
  position: relative;
}

.icon {
  margin: 5px; /* Space between icons */
  position: absolute; /* Position the icons absolutely within the container */
  animation: rotate 15s infinite; /* Apply the circular animation */
  animation-timing-function: linear;
}

/* Circular icons animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
  }
  50% {
    transform: rotate(-180deg) translateX(120px) rotate(180deg);
  }
  100% {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
}

/* Apply staggered animation delays */
.icon:nth-child(1) {
  animation-delay: 0s;
}
.icon:nth-child(2) {
  animation-delay: 0.5s;
}
.icon:nth-child(3) {
  animation-delay: 1s;
}
.icon:nth-child(4) {
  animation-delay: 1.5s;
}
.icon:nth-child(5) {
  animation-delay: 2s;
}
.icon:nth-child(6) {
  animation-delay: 2.5s;
}
/* .icon:nth-child(7) {
  animation-delay: 3s;
} */

.acceuil_text {
  width: 45%;
  height: auto;
}
/* style weight size/line family */
.acceuil_title h1 {
  padding: 1.5rem;
  color: #fffcf7;
  font: bold clamp(1.8rem, 2.8vw, 4.8rem) / clamp(1rem, 1.5vw, 2rem) "Poppins",
    sans-serif;
  white-space: nowrap;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.acceuil_paragraph {
  font: normal clamp(1rem, 1.2vw, 1.8rem) / clamp(1.5rem, 2.4vw, 3rem) "Poppins",
    sans-serif;
  color: #fffcf7;
  padding: 2rem;
  text-align: justify;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 0.2rem;
}
.p-author {
  text-align: right;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .acceuil_img,
  .acceuil_icons {
    display: none;
  }

  .acceuil_text {
    width: 100%;
  }
  .acceuil_title h1 {
    justify-content: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .acceuil_img,
  .acceuil_icons {
    display: none;
  }

  .acceuil_text {
    width: 100%;
  }
  .acceuil_title h1 {
    justify-content: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .acceuil_img,
  .acceuil_icons {
    display: none;
  }

  .acceuil_text {
    width: 100%;
  }

  .acceuil_title h1 {
    justify-content: center;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .acceuil_text {
    width: 80%;
  }
}
