section.acceuil {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    -45deg,
    rgb(132, 44, 182, 0.85),
    rgb(186, 8, 208, 0.85),
    rgb(250, 110, 51, 0.85),
    rgb(223, 145, 62, 0.85),
    rgb(255, 190, 70, 0.85)
  );
}
.acceuil_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
}
.acceuil_title {
  width: 100%;
  /* border: 1px solid white; */
}

.acceuil_img {
  max-width: 60%;
  text-align: center;
}

.acceuil_img img {
  max-width: 80%;
}

.acceuil_img,
.acceuil_icons,
.acceuil_text {
  padding: 1px 5px;
}

.acceuil_icons {
  width: 35%;
  position: relative;
}

.icon {
  margin: 5%; /* Space between icons */
  position: absolute; /* Position the icons absolutely within the container */
  animation: rotate 20s infinite; /* Apply the circular animation */
  animation-timing-function: linear;
}

/* Circular icons animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
  }
  50% {
    transform: rotate(-180deg) translateX(120px) rotate(180deg);
  }
  100% {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
}

/* Apply staggered animation delays */
.icon:nth-child(1) {
  animation-delay: 0s;
}
.icon:nth-child(2) {
  animation-delay: 0.5s;
}
.icon:nth-child(3) {
  animation-delay: 1s;
}
.icon:nth-child(4) {
  animation-delay: 1.5s;
}
.icon:nth-child(5) {
  animation-delay: 2s;
}
.icon:nth-child(6) {
  animation-delay: 2.5s;
}

/* style weight size/line family */
.acceuil_title h1 {
  padding: 15px auto;
  color: #fffcf7;
  font: bold clamp(24px, 2.5vw, 32px) / clamp(1.3rem, 2.5vw, 3rem) "Poppins",
    sans-serif;
  white-space: nowrap;
  letter-spacing: 0.3rem;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.acceuil_paragraph {
  color: #fffcf7;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: clamp(14px, 2vw, 18px);
  line-height: clamp(1rem, 2.2vw, 2rem);
}

.p_author {
  text-align: right;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .acceuil_img,
  .acceuil_icons {
    display: none;
  }

  .acceuil_text {
    width: 100%;
  }
  .acceuil_title h1 {
    justify-content: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .acceuil_img,
  .acceuil_icons {
    display: none;
  }

  .acceuil_text {
    width: 100%;
  }
  .acceuil_title h1 {
    justify-content: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .acceuil_img,
  .acceuil_icons {
    display: none;
  }

  .acceuil_text {
    width: 100%;
  }

  .acceuil_title h1 {
    justify-content: center;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .acceuil_text {
    width: 70%;
  }
}

@media (min-width: 1440px) {
  .acceuil_text {
    width: 60%;
  }
}
