section {
  max-width: 100%;
  height: fit-content;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.agency_name {
  /* style weight size/line family 1.5rem/2rem*/
  font-optical-sizing: auto;
  color: #371a74;
  white-space: nowrap; /* Prevent text from wrapping */
  font: normal 800 clamp(0.5rem, 1vw, 1.8rem) / clamp(0.5rem, 1vw, 1rem)
      "Poppins",
    sans-serif;
}

.shrink_text {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
}

.section_title {
  color: #371a74;
  font: normal 600 clamp(16px, 21px, 22px) / clamp(0.5rem, 1.2vw, 1.5rem)
      "Montserrat",
    sans-serif;
  white-space: nowrap;
}

.paragraph_font {
  font: normal clamp(14px, 20px, 22px) / clamp(1vw, 1.5vw, 2vw) "Poppins",
    sans-serif;
  text-align: justify;
  letter-spacing: 0.1rem;

  /* color: #371a74; */
}
