section {
  width: auto;
  height: auto;
  padding: 5% 10%;
}
.agency_name {
  /* style weight size/line family 1.5rem/2rem*/
  font: normal 800 clamp(0.5rem, 1.2vw, 2.5rem) / clamp(1rem, 1.2vw, 2rem)
      "Montserrat",
    sans-serif;
  font-optical-sizing: auto;
  color: #371a74;
  white-space: nowrap;
}

.shrink_text {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
}

.section_title {
  color: #371a74;
  font: normal 600 clamp(1rem, 1.5vw, 2.5rem) / clamp(0.5rem, 1vw, 1.5rem)
      "Montserrat",
    sans-serif;
  white-space: nowrap;
}

.paragraph_font {
  font: normal clamp(0.8rem, 1vw, 1.8rem) / clamp(1.5rem, 2vw, 2.5rem) "Poppins",
    sans-serif;
  text-align: justify;
  letter-spacing: 0.15rem;

  /* color: #371a74; */
}
