section {
  width: auto;
  height: fit-content;
  border-bottom: 1px solid rgb(251, 0, 255);
  padding: 60px 150px;
}

.trendy-agency-font {
  color: #371a74;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  line-height: 20px;
}
