.section_pourquoi {
  -webkit-box-shadow: 0px 1px 8px 4px rgba(132, 44, 182, 0.1);
  -moz-box-shadow: 0px 1px 8px 4px rgba(132, 44, 182, 0.1);
  box-shadow: 0px 1px 8px 4px rgba(132, 44, 182, 0.1);
}

.reason_container {
  width: 90%;
  height: max-content;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  text-align: center;
}

.reason_card {
  display: flex;
  max-width: 45%;
  margin: 10px;
}

.reason_img {
  text-align: center;
  max-width: 40%;
}

.reason_img img {
  max-width: 75%;
}
.reason_text {
  font: normal 400 clamp(12px, 1.5vw, 13px) / clamp(1rem, 1.5vw, 2rem) "Poppins",
    sans-serif;
  width: 60%;
  text-align: justify;
  color: #371a74 !important;
  background-color: rgba(125, 32, 136, 0.1);
}

.left_card .reason_img {
  -webkit-box-shadow: 10px 0px 5px 0px rgba(125, 32, 136, 0.1);
  -moz-box-shadow: 10px 0px 5px 0px rgba(125, 32, 136, 0.1);
  box-shadow: 10px 0px 5px 0px rgba(125, 32, 136, 0.1);
}

.right_card .reason_img {
  -webkit-box-shadow: -10px 0px 5px 0px rgba(125, 32, 136, 0.1);
  -moz-box-shadow: -10px 0px 5px 0px rgba(125, 32, 136, 0.1);
  box-shadow: -10px 0px 5px 0px rgba(125, 32, 136, 0.1);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .reason_card {
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
  }
  .left_card .reason_img {
    -webkit-box-shadow: 0px 10px 5px 0px rgba(125, 32, 136, 0.2);
    -moz-box-shadow: 0px 10px 5px 0px rgba(125, 32, 136, 0.2);
    box-shadow: 0px 10px 5px 0px rgba(125, 32, 136, 0.2);
  }

  .right_card .reason_img {
    -webkit-box-shadow: 0px -10px 5px 0px rgba(125, 32, 136, 0.2);
    -moz-box-shadow: 0px -10px 5px 0px rgba(125, 32, 136, 0.2);
    box-shadow: 0px -10px 5px 0px rgba(125, 32, 136, 0.2);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .reason_card {
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
  }

  .left_card .reason_img {
    -webkit-box-shadow: 0px 10px 5px 0px rgba(125, 32, 136, 0.2);
    -moz-box-shadow: 0px 10px 5px 0px rgba(125, 32, 136, 0.2);
    box-shadow: 0px 10px 5px 0px rgba(125, 32, 136, 0.2);
  }

  .right_card .reason_img {
    -webkit-box-shadow: 0px -10px 5px 0px rgba(125, 32, 136, 0.2);
    -moz-box-shadow: 0px -10px 5px 0px rgba(125, 32, 136, 0.2);
    box-shadow: 0px -10px 5px 0px rgba(125, 32, 136, 0.2);
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .reason_card {
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
  }
  .left_card .reason_img {
    -webkit-box-shadow: 0px 10px 5px 0px rgba(125, 32, 136, 0.2);
    -moz-box-shadow: 0px 10px 5px 0px rgba(125, 32, 136, 0.2);
    box-shadow: 0px 10px 5px 0px rgba(125, 32, 136, 0.2);
  }

  .right_card .reason_img {
    -webkit-box-shadow: 0px -10px 5px 0px rgba(125, 32, 136, 0.2);
    -moz-box-shadow: 0px -10px 5px 0px rgba(125, 32, 136, 0.2);
    box-shadow: 0px -10px 5px 0px rgba(125, 32, 136, 0.2);
  }
}
