.promo {
  width: 100%;
  height: max-content;
  padding: 1% 8%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  color: #371a74 !important;
  -webkit-box-shadow: 0px 1px 8px 4px rgba(207, 117, 153, 0.5);
  -moz-box-shadow: 0px 1px 8px 4px rgba(207, 117, 153, 0.5);
  box-shadow: 0px 1px 8px 4px rgba(207, 117, 153, 0.5);
}
.profiter,
.promo_logo,
.sponsoring {
  width: 30%;
}

.promo_logo img {
  max-width: 12%;
}

.profiter > h1,
.sponsoring > h1 {
  /* font: bold 3rem/1.5rem "Montserrat", sans-serif; */
  font: bold clamp(20px, 22px, 24px) / clamp(1vw, 1.5vw, 2vw) "Montserrat",
    sans-serif;
  letter-spacing: 0.1rem;
  text-align: center;
  /* padding: 1rem; */
  white-space: nowrap;
}
.profiter > p,
.sponsoring > p {
  color: #371a74 !important;
  /* font: normal 400 1rem/1rem "Poppins", sans-serif; */
  font: bold clamp(5px, 8px, 11px) / clamp(1rem, 0.5vw, 2rem) "Poppins",
    sans-serif;
  text-align: center;
}

.profiter > h1 > span {
  color: #cf7599;
}

.highlight {
  display: inline-block;
  animation: lightEffect 2s infinite alternate;
}

.promo_logo {
  text-align: center;
}

@keyframes lightEffect {
  0% {
    text-shadow: 0 0 5px rgba(163, 97, 171, 0.7),
      0 0 10px rgba(163, 97, 171, 0.7), 0 0 15px rgba(163, 97, 171, 0.7),
      0 0 20px rgba(163, 97, 171, 0.7), 0 0 25px rgba(163, 97, 171, 0.7);
  }
  50% {
    text-shadow: 0 0 10px rgba(207, 117, 153, 0.7),
      0 0 20px rgba(207, 117, 153, 0.7), 0 0 30px rgba(207, 117, 153, 0.7),
      0 0 40px rgba(207, 117, 153, 0.7), 0 0 50px rgba(207, 117, 153, 0.7);
  }
  100% {
    text-shadow: 0 0 10px rgba(254, 111, 41, 0.7),
      0 0 20px rgba(254, 111, 41, 0.7), 0 0 30px rgba(254, 111, 41, 0.7),
      0 0 40px rgba(254, 111, 41, 0.7), 0 0 50px rgba(254, 111, 41, 0.7);
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  div.promo_logo {
    display: none;
  }
  .promo {
    display: flex;
    flex-direction: column;
  }
  .profiter,
  .sponsoring {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  div.promo_logo {
    display: none;
  }
  .promo {
    display: flex;
    flex-direction: column;
  }
  .profiter,
  .sponsoring {
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  div.promo_logo {
    display: none;
  }
  .promo {
    display: flex;
    flex-direction: column;
  }
  .profiter,
  .sponsoring {
    width: 100%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
