.about_container {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2% auto;
}
.trendy_broch {
  /* width: 50%; */
  max-width: 50%;
  text-align: center;
  margin: 1%;
}

.trendy_broch img {
  width: 60%;
  height: 60%;
  max-width: 100%;
}

b.agency_name {
  color: rgb(86, 58, 145) !important;
}
/* style weight size/line family */
.agence_marketing,
.notre_mission {
  font-size: clamp(10px, 12px, 14px);
  line-height: clamp(1vw, 1.5vw, 2vw);
  color: #371a74;

  width: 80%;
}

b.agence_marketing,
b.notre_mission {
  font-size: clamp(1rem, 1.7vw, 2.2rem);
  line-height: clamp(1rem, 2vw, 2.5rem);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .trendy_broch {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .about_container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .about_container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
