/* navbar.css */
.navbar_custom {
  /* padding: 1rem; */
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(207, 117, 153, 0.75);
  -moz-box-shadow: 0px 1px 3px 0px rgba(207, 117, 153, 0.75);
  box-shadow: 0px 1px 3px 0px rgba(207, 117, 153, 0.75);
  border: 0;
  background-color: white;
  z-index: 1000;
}

.navbar_container {
  width: 80%;
  height: auto;
}
.nav_menu {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.navbar_custom .nav_link:link {
  color: #371a74;
  white-space: nowrap; /* Prevent text from wrapping */
  font: normal 500 clamp(0.8rem, 1vw, 1.5rem) / clamp(1.5rem, 1.2vw, 2.5rem)
      "Poppins",
    sans-serif;
  text-decoration: none;
}
.navbar_custom .nav_link:visited {
  color: #371a74;
}
.navbar_custom .nav_link:hover {
  color: rgb(125, 32, 136, 0.75) !important;
}
.navbar_custom .nav_link:active {
  color: #17285e !important;
}
.navbar_custom .agency_name {
  white-space: nowrap; /* Prevent text from wrapping */
  font: normal 700 clamp(1rem, 1.5vw, 1.8rem) "Poppins", sans-serif;
}
