.reason_container {
  width: 100%;
  height: max-content;
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 20px;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
}

.reason_card {
  display: flex;
  max-width: 90%;
  height: 25vh;
  margin: 3%;
}

.reason_img {
  text-align: center;
  width: 75%;
}

.reason_img img {
  max-width: 80%;
}
.reason_text {
  font: normal 400 clamp(11px, 14px, 14px) / clamp(1vw, 1.5vw, 2vw) "Poppins",
    sans-serif;
  width: 100%;
  text-align: justify;
  color: #371a74 !important;
  background-color: rgba(125, 32, 136, 0.15);
}

.left_card .reason_img {
  -webkit-box-shadow: 10px 0px 5px 0px rgba(125, 32, 136, 0.4);
  -moz-box-shadow: 10px 0px 5px 0px rgba(125, 32, 136, 0.4);
  box-shadow: 10px 0px 5px 0px rgba(125, 32, 136, 0.4);
}

.right_card .reason_img {
  -webkit-box-shadow: -10px 0px 5px 0px rgba(125, 32, 136, 0.4);
  -moz-box-shadow: -10px 0px 5px 0px rgba(125, 32, 136, 0.4);
  box-shadow: -10px 0px 5px 0px rgba(125, 32, 136, 0.4);
}
