.reason_container {
  width: 100%;
  height: 100vh;
  margin: 2% auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.reason_card {
  width: 70%;
  height: auto;
  display: flex;
}

.reason_img {
  width: 35%;
  text-align: center;
}

.reason_img img {
  width: 75%;
}
.reason_text {
  font: normal 400 clamp(14px, 16px, 20px) / clamp(2vh, 3vh, 5vh) "Poppins",
    sans-serif;
  width: 100%;
  text-align: justify;
  color: #371a74 !important;
  background-color: rgba(125, 32, 136, 0.15);
}

.left_card .reason_img {
  -webkit-box-shadow: 10px 0px 5px 0px rgba(125, 32, 136, 0.4);
  -moz-box-shadow: 10px 0px 5px 0px rgba(125, 32, 136, 0.4);
  box-shadow: 10px 0px 5px 0px rgba(125, 32, 136, 0.4);
}

.right_card .reason_img {
  -webkit-box-shadow: -10px 0px 5px 0px rgba(125, 32, 136, 0.4);
  -moz-box-shadow: -10px 0px 5px 0px rgba(125, 32, 136, 0.4);
  box-shadow: -10px 0px 5px 0px rgba(125, 32, 136, 0.4);
}
