.section-pourquoi {
  position: relative;
}
.reasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 550px;
}
.reason-card {
  width: 45%;
}

.pourquoi {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(125, 32, 136, 1);
  -moz-box-shadow: 0px 0px 20px 1px rgba(125, 32, 136, 1);
  box-shadow: 0px 0px 20px 1px rgba(125, 32, 136, 1);
}

.reason-text {
  width: 65%;
}

.top-left-card {
  -webkit-box-shadow: -8px -8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: -8px -8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: -8px -8px 8px -8px rgba(125, 32, 136, 1);
}

.top-right-card {
  -webkit-box-shadow: 8px -8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: 8px -8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: 8px -8px 8px -8px rgba(125, 32, 136, 1);
  justify-content: flex-end;
  text-align: right;
}

.bottom-left-card {
  -webkit-box-shadow: -8px 8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: -8px 8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: -8px 8px 8px -8px rgba(125, 32, 136, 1);
}

.bottom-right-card {
  -webkit-box-shadow: 8px 8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: 8px 8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: 8px 8px 8px -8px rgba(125, 32, 136, 1);
  justify-content: flex-end;
  text-align: right;
}
