#whyUs {
  padding: 60px 120px;
}
.section-pourquoi {
  position: relative;
}
.reasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 550px;
}
.reason-card {
  width: 45%;
}

.pourquoi {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  font-size: 5em;
  text-align: center;
  margin: auto;
  line-height: 5rem;
  background-color: rgba(147, 14, 199, 1);
  color: #e1a954;
}

/* .reasons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  grid-gap: 45px;
}
.reason-card {
  width: fit-content;
  height: fit-content;
} */
/* .img-container {
  width: fit-content;
  height: fit-content;
} */
.reason-text {
  width: 65%;
}

.top-left-card {
  -webkit-box-shadow: -8px -8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: -8px -8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: -8px -8px 8px -8px rgba(125, 32, 136, 1);
}

.top-right-card {
  -webkit-box-shadow: 8px -8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: 8px -8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: 8px -8px 8px -8px rgba(125, 32, 136, 1);
  justify-content: flex-end;
  text-align: right;
}

.bottom-left-card {
  -webkit-box-shadow: -8px 8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: -8px 8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: -8px 8px 8px -8px rgba(125, 32, 136, 1);
}

.bottom-right-card {
  -webkit-box-shadow: 8px 8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: 8px 8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: 8px 8px 8px -8px rgba(125, 32, 136, 1);
  justify-content: flex-end;
  text-align: right;
}
