#whyUs {
  padding: 60px 150px;
}
.reasons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  grid-gap: 45px;
}
.reason-card {
  width: fit-content;
  height: fit-content;
}
.img-container {
  width: fit-content;
  height: fit-content;

  /* border: 1px solid black; */
}
.reason-text {
  /* border: 1px solid rgb(236, 24, 24); */
  width: 65%;
}
.top-left-card {
  -webkit-box-shadow: -8px -8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: -8px -8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: -8px -8px 8px -8px rgba(125, 32, 136, 1);
}

.top-right-card {
  -webkit-box-shadow: 8px -8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: 8px -8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: 8px -8px 8px -8px rgba(125, 32, 136, 1);
  justify-content: flex-end;
}

.bottom-left-card {
  -webkit-box-shadow: -8px 8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: -8px 8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: -8px 8px 8px -8px rgba(125, 32, 136, 1);
}

.bottom-right-card {
  -webkit-box-shadow: 8px 8px 8px -8px rgba(125, 32, 136, 1);
  -moz-box-shadow: 8px 8px 8px -8px rgba(125, 32, 136, 1);
  box-shadow: 8px 8px 8px -8px rgba(125, 32, 136, 1);
  justify-content: flex-end;
}

.section-pourquoi {
  position: relative;
}

.pourquoi {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 4px solid rgba(125, 32, 136, 1); */
  border-radius: 50%;
  width: 350px;
  height: 350px;
  font-size: 6rem;
  text-align: center;
  margin: auto;
  line-height: 5.5rem;
  background-color: rgba(147, 14, 199, 1);
  color: #e1a954;
}
