footer {
  max-width: 100%;
  height: max-content;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_footer {
  width: 80%;
}
.footer_agency,
.footer_contact_agency {
  width: 48%;
}
.footer_img_container img {
  max-width: 60%;
}
.footer_about_agency,
.footer_img_container {
  width: 48%;
}
.footer_about_agency p,
.footer_contacts p,
.bottom_footer {
  font: normal clamp(10px, 14px, 14px) / clamp(1vh, 2.5vh, 3vh) "Poppins",
    sans-serif;
  color: #371a74;
  text-align: justify;
}
.footer_about_agency p {
  line-height: 3vh;
}
.bottom_footer {
  font-weight: bolder;
}
h4.agency_name {
  padding: 10px 0;
  font-size: clamp(12px, 14px, 16px);
}
.footer_contacts {
  margin-bottom: 20px;
}

.social-icons {
  width: 70%;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .top_footer {
    flex-direction: column;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .top_footer {
    flex-direction: column;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .top_footer {
    flex-direction: column;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* .top_footer {
  width: auto;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
}
.footer_info {
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_contact,
.follow {
  margin-top: 2.8rem;
}

.footer_contact p {
  font: normal clamp(1rem, 1vw, 2rem) / clamp(1rem, 1.3vw, 2rem) "Montserrat",
    sans-serif;
  color: #371a74;
}


.bottom_footer {
  font-size: large;
  font-weight: bold;
  line-height: 1.5rem;
  color: #17285e !important;
  padding: 1rem;
} */
