.top-footer {
  width: auto;
  padding: 20px 70px;
}
.footer-info {
  width: 45%;
  height: fit-content;
  display: flex;
  /* justify-content: space-between;
  align-items: baseline; */
}
.footer-form {
  width: 40%;
  height: fit-content;
  padding: 15px;
}
.footer-info-txt {
  width: fit-content;
  padding: 15px;
}
