.top-footer {
  width: auto;
  padding: 20px 70px;
}
.footer-info {
  width: 45%;
  height: fit-content;
  display: flex;
  /* justify-content: space-between;
  align-items: baseline; */
}
.footer-form {
  width: 40%;
  height: fit-content;
  padding: 15px;
}
.footer-info-txt {
  width: fit-content;
  padding: 15px;
}
.bottom-footer {
  font-size: large;
  font-weight: bold;
  color: #17285e !important;
}
#envoyer {
  border: 1px solid #371a74;
  color: #371a74;
  background-color: transparent;
  margin-left: 85%;
}
