.contact_section {
  width: 100%;
  height: 100%;
}

.contact_section h2 {
  margin-bottom: 2rem;
}

.contact_container {
  width: 100%;
  height: 100%;
  padding: 2rem 3rem;
}

.contact_form {
  width: 40%;
}
.contact_img,
.contact_personel {
  width: 25%;
}
.contact_img img {
  width: 100%;
}

.contact_personel {
  text-align: left;
  height: 65%;
}

.nos_contacts h4,
.suivez_nous h4 {
  margin-bottom: 1rem;
}

.social_icons {
  width: 35%;
  justify-content: space-around;
}

.contact_form {
  text-align: left;
}

.form_btn {
  background-color: rgb(55, 26, 116, 0.8);
}
