.pack_container {
  max-width: 100%;
  height: max-content;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: fit-content;
  padding: 20px;
  margin: 20px auto;
  background-color: rgba(207, 117, 153, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  -webkit-box-shadow: inset 0px 0px 20px 1px rgb(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 0px 20px 1px rgb(255, 255, 255, 0.6);
  box-shadow: inset 0px 0px 20px 1px rgb(255, 255, 255, 0.6);
}

.pack h6 {
  font: bold clamp(1rem, 1.3vw, 2rem) / clamp(1rem, 1.5vw, 2rem) "Montserrat",
    sans-serif;
  color: rgb(55, 26, 116, 0.75);
  padding: 5px;
}

.pack_card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.pack_detail {
  /* 1.5rem/2.9rem */
  width: 60%;
  height: max-content;
  font: normal 200 clamp(16px, 1vw, 20px) / clamp(3vh, 5vh, 7vh) "Poppins",
    sans-serif;
  background-image: linear-gradient(
    45deg,
    rgb(186, 8, 208, 0.75) 0%,
    rgb(132, 44, 182, 0.75) 50%,
    rgb(55, 26, 116, 0.75) 100%
  );
  -webkit-box-shadow: 0px 0px 15px 1px rgb(196, 45, 213, 0.8);
  -moz-box-shadow: 0px 0px 15px 1px rgb(196, 45, 213, 0.8);
  box-shadow: 0px 0px 15px 1px rgb(196, 45, 213, 0.8);
  color: white;
  /* text-align: left; */
  /* align-self: center; */
  padding: 10px;
  position: relative;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ribbon_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 300px;
  height: 180px;
  pointer-events: none;
}
.ribbon {
  position: absolute;
  top: 30px;
  right: -70px;
  width: 300px;
  padding: 10px 0;

  font: bold 16px Sans-Serif;
  text-align: center;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.3);
  pointer-events: auto;
}

.detail_list ul {
  list-style: none;
  text-align: left;
}
ul li:before {
  content: "✓";
  padding-right: 1rem;
}

.price_tag {
  text-align: center;
  color: #5557d6;
  background-color: white;
  width: 90%;
  height: 45%;
  /* padding: 2rem; */
  margin-bottom: 2rem;
  border-radius: 25% 75% 25% 75%;
  font: bold clamp(14px, 16px, 18px) / clamp(1.5vh, 3vh, 4vh) "Montserrat",
    sans-serif;
}
