.pack-section {
  background-color: rgba(252, 152, 191, 0.1);
}

.pack-container {
  border: 2px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pack {
  width: 45%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  margin: 1.5rem;
  border: 3px solid black;
}

.pack-title {
  padding-bottom: 1.5rem;
}
.pack > h6 {
  text-align: center;
}

div.pack-detail {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  width: 90%;
  /* height: 60%; */
  /* background-color: aquamarine; */
}

.pack-card > ul {
  list-style: circle;
}
